$primary: #16807A;

.navbar {
  position: sticky;
  width: calc(100% - 100px);
  border-bottom: 2px solid $primary;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  top: 0;
  left: 0;

  ul {
    list-style: none;
  }
  ul li {
    display: inline-block;
    margin: 0 10px;
  }
  button {
    border: none;
    color: white;
    background-color: #16807A;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;
    &:hover{
      background-color: #26897F;
    }
  }
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
}